[submodule "Sandbox/Hazel/vendor/spdlog"]
	path = Sandbox/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Sandbox/Hazel/vendor/GLFW"]
	path = Sandbox/Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Sandbox/Hazel/vendor/imgui"]
	path = Sandbox/Hazel/vendor/imgui
	url = https://github.com/ocornut/imgui.git
